<h1>パズルゲーム</h1>
<div class="parson">
  <% if user_signed_in? %>
    <div>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout"%>
    </div>
    <div class="stage">
      <%= link_to 'ステージ1', new_puzzle_path, class: "stage-one" %>
      <% if @puzzle.find_by(user_id: current_user.id, number:1) %>
      <span class="clear">clear!</span>
      <% end %>
    </div>
  <% else %>
    <div>
      <%= link_to '新規登録', new_user_registration_path, class: "registrations" %>
    </div>
    <br>
    <div>
      <%= link_to 'ログイン', new_user_session_path, class: "sessions" %>
    </div>
  <% end %>
  <% if Puzzle.where(id: 1).empty? %>
    <%= link_to 'クリア状況をリセットする', "/puzzle/:id", method: :delete, class: "reset"%>
  <% end %>
</div>